.login-container {
  margin-top: 100px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group {
  width: 400px;
}
.login-button {
  display: block;
  margin: 0 auto;
}
.alert-error {
  margin-top: 20px;
  width: 400px;
}